p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

main {
    background-color: #78b3e0;
    margin: auto;
    width: 50%;
    text-align: center;
}

.purple {
    background-color: #b19cba;
}

.blue {
    background-color: #9cbab2;
}